/* ===== HEADER ===== */
.header {
	  padding: 10px 40px;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background:
    radial-gradient(
      circle at 110% 10%,
      rgba(255, 236, 200, 0.35),
      rgba(255, 228, 180, 0.18) 30%,
      rgba(255, 220, 170, 0.08) 50%,
      transparent 70%
    ),

    linear-gradient(
      180deg,
      #0c0c0c 0%,
      #161616 50%,
      #0b0b0b 100%
    );

  background-attachment: fixed;
  color: #f5e6c8;

}

.header-logo img {
  width: 100px;
}

/* ===== NAVBAR DESKTOP ===== */
.navbar {
	padding-right: 30px;
  display: flex;
  gap: 50px;
}

.navbar a {
  text-decoration: none;
  color: #DED0B4;
  font-size: 20px;
  position: relative;
  transition: all 0.3s ease;
}

/* Underline animation (centered) */
.navbar a::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #f5e6c8, #c6a96f);
  transition: width 0.4s ease;
}

.navbar a:hover {
color: #ffdb94;
  transform: scale(1.05);
}

.navbar a:hover::after {
  width: 100%;
}

/* ===== LUX DIVIDER ===== */
.lux-divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lux-divider::before,
.lux-divider::after {
  content: "";
  flex: 1;
  height: 1.5px;
  background: linear-gradient(
    to right,
    transparent,
    #e7c27d,
    #c6a75e
  );
}

.lux-divider::after {
  background: linear-gradient(
    to left,
    transparent,
    #e7c27d,
    #c6a75e
  );
}

.ornament {
  margin: 0 20px;
  color: #c6a75e;
  text-shadow: 0 0 8px rgba(198, 167, 94, 0.6);
}

/* ===== HAMBURGER ===== */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger img {
	padding-right: 30px;
  width: 45px;
}

/* ===== MOBILE ===== */
@media screen and (max-width: 768px) {

  .navbar {
    border-radius: 12px;
    border: 1px solid #C6A75E;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 15px;
    background: #161616;
    width: 60%;
    text-align: center;
    padding: 30px 0;
    gap: 30px;
    overflow: hidden;
  }

  .navbar.active {
    display: flex;
  }

  .navbar a:hover::after {
    width: 30%;
  }

  .hamburger {
    display: block;
  }
}
