button {
  display: inline-block;
  margin: 20px;
  color: #EBE1CD;
  border-radius: 10px;
  border: 2px solid #C6A75E;
  background-color: #2A2A2A;
  font-size: 16px;
  padding: 20px;
  transition: all 0.3s ease;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(145deg, #C6A75E, #E6D6B4);
  color: #1a1a1a;
  box-shadow: 0 8px 20px rgba(198, 167, 94, 0.35);
}

.edit-service h1 {
  padding-left: 30px;
  margin-bottom: 50px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #F3ECE2, #E6D6B4);
  padding: 40px;
  border-radius: 20px;
  max-width: 60%;
  margin: 0 auto 50px auto;
  box-shadow: 0 15px 40px rgba(198, 167, 94, 0.2);
  border: 2px solid #C6A75E;
}

.edit-form h2, .service-category h2 {
  margin-top: 0;
  color: #5A4632;
  margin-bottom: 30px;
}

.edit-form label {
  align-self: flex-start;
  margin-left: 10px;
  font-size: 14px;
  color: #2b2008;
}


.edit-form input,
.edit-form textarea {
  border: 2px solid #C6A75E;
  margin: 20px 0;
  border-radius: 10px;
  padding: 16px;
  background-color: #F7F1E8;
  width: 100%;
  max-width: 450px;
  font-family: 'Playfair Display', serif;
}


.service-icon-div {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 490px;
  margin: 20px 0;
}

.service-icon-div input {
  flex: 1;
  width: auto;
  margin: 0;
}

.service-icon-div img {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid #C6A75E;
  object-fit: contain;
}

.service-category {
	color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #F3ECE2, #E6D6B4);
  padding: 40px;
  border-radius: 20px;
  max-width: 60%;
  margin: 0 auto 50px auto;
  box-shadow: 0 15px 40px rgba(198, 167, 94, 0.2);
  border: 2px solid #C6A75E;
}

.edit-services-detail {
	
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
}
.service-row{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.edit-services-detail > * {
  padding: 20px;
   background: #F3ECE2;
  border: 2px solid #C6A75E;
  border-radius: 20px;
}

.title-edit {
  color: #5A4632;
  font-size: 18px;
  font-weight: bold;
}
.delete-button{
	display: flex;
	justify-content: center;
	align-items: center;
}
.add-service-category{
	margin-top: 30px;
}
.add-service-category a{
  display: inline-block;
  margin: 10px;
  color: #EBE1CD;
  border-radius: 10px;
  border: 2px solid #C6A75E;
  background-color: #2A2A2A;
  font-size: 18px;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.add-service-category a:hover {
	cursor: pointer;
  background: linear-gradient(145deg, #C6A75E, #E6D6B4);
  color: #1a1a1a;
  box-shadow: 0 8px 20px rgba(198, 167, 94, 0.35);
}

.modal-overlay {
	color: #1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.modal-box { 
	margin: 30px;
  border: 2px solid #C6A75E;
  background: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.danger-btn {
  background: #8B0000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}

@media screen and (max-width:768px) {
  .edit-form,
  .service-category {
    max-width: 90%;
  }
  .service-category{
	padding: 20px;
  }

  .edit-services-detail {
    grid-template-columns: 1fr;
  }
  .edit-form, .service-category {

  max-width: 80%;
  margin: 30px;
}
.service-icon-div{
	flex-direction: column-reverse;
}
.service-icon-div input{
	width: 100%;
}
}
@media screen and (max-width:600px){
	.add-service-category{
		text-align: center;
	}
	.add-service-category button{
		padding: 20px;
	}

}
@media screen and (max-width:600px){
	.modal-box{
		padding: 10px;
	}
}