.button-div{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.admin-title{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.button-div button {
    display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  padding: 14px 0;
  font-size: 16px;
  text-decoration: none;
  color: #EBE1CD;
  border-radius: 10px;
  border: 2px solid #C6A75E;
  background-color: #2A2A2A;
  transition: all 0.7s ease;
  cursor: pointer;
}

.button-div button:hover {
  background: linear-gradient(145deg, #C6A75E, #E6D6B4);
  color: #1a1a1a;
  box-shadow: 0 8px 20px rgba(198, 167, 94, 0.35);
}
.services{
	margin: 50px 60px;
background: linear-gradient(145deg, #F3ECE2, #E6D6B4);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(198, 167, 94, 0.2);
  border: 2px solid #C6A75E;
  
}
.services h2{
	color: #5A4632;
	margin-bottom: 30px;
}
.services-title{
	margin: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #2E2A25;
	padding: 10px;

}
.services-title-1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.services-title img{
	margin-right: 20px;
	width: 80px;
	background-color: white;
	border-radius: 100%;
	padding: 10px;
	  border: 2px solid #C6A75E;
}
.dashboard-button a{
	 display: inline-block;
  margin: 20px;
  color: #EBE1CD;
  border-radius: 10px;
  border: 2px solid #C6A75E;
  background-color: #2A2A2A;
  font-size: 16px;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.dashboard-button a:hover {
	cursor: pointer;
  background: linear-gradient(145deg, #C6A75E, #E6D6B4);
  color: #1a1a1a;
  box-shadow: 0 8px 20px rgba(198, 167, 94, 0.35);
}
.dashboard-button button{
	 display: inline-block;
  margin: 20px;
  color: #EBE1CD;
  border-radius: 10px;
  border: 2px solid #C6A75E;
  background-color: #2A2A2A;
  font-size: 16px;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.dashboard-button button:hover {
	cursor: pointer;
  background: linear-gradient(145deg, #C6A75E, #E6D6B4);
  color: #1a1a1a;
  box-shadow: 0 8px 20px rgba(198, 167, 94, 0.35);
}


.add-services{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
}
.add-services a{
  display: inline-block;
  margin: 10px;
  color: #EBE1CD;
  border-radius: 10px;
  border: 2px solid #C6A75E;
  background-color: #2A2A2A;
  font-size: 18px;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.add-services a:hover {
	cursor: pointer;
  background: linear-gradient(145deg, #C6A75E, #E6D6B4);
  color: #1a1a1a;
  box-shadow: 0 8px 20px rgba(198, 167, 94, 0.35);
}


.modal-overlay {
	color: #1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.modal-box { 
	margin: 30px;
  border: 2px solid #C6A75E;
  background: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.danger-btn {
  background: #8B0000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}

.message-card {
	
	color: black;
  background: #F3ECE2;
  border: 2px solid #C6A75E;
  padding: 20px;
  margin: 20px 60px;
  border-radius: 15px;
}


.date-text {
	margin-top: 10px;
  font-size: 14px;
  color: #777;
}
.message-btn{
	display: flex;
	justify-content: center;
}
.message-btn a{
	text-decoration: none;
	 color: #EBE1CD;
}

@media screen and (max-width:900px){
.services{
	margin: 20px;
}


}
@media screen and (max-width:768px){
	.button-div button {
  margin: 10px;
 font-size: 16px;
}
.services-title img{
	width: 60px;

}
.services-title{
	flex-direction: column;
}
.services{
	margin: 20px 30px;
	padding: 20px;
}
.dashboard-button a{
	font-size: 14px;
}


}

@media screen and (max-width:500px){
	.dashboard-button{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.services{
		margin: 10px;
	}
	.services-title img{
	width: 40px;

}
.add-services a{
	font-size: 16px;
	padding: 15px;
	margin: 0;
}
.services-title{
	margin: 20px 5px;
}
.button-div{
	gap: 5px;
	margin-right: 10px ;
	margin-left: 10px;
}
.admin-title h1{
	padding-left: 0;
}
.modal-box{
	padding: 10px;
}
}
@media screen and (max-width:600px){
	.message-btn button{
		margin: 10px;
		font-size: 14px;
		padding: 15px;
	}
	.message-card{
		margin: 20px 10px;
		padding: 10px;
	}
}