.title-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1{
	color: #E6D6B4;
}
h2{
	margin-top: -5px;
	color: #CDAA8C;
}

.div-image {
  display: flex;
  gap: 10px;
  padding: 20px;
  
}

.div-image img {
	border: 2px solid #E6D6B4;
  flex: 1 1 30%;
  width: 30%;
  object-fit: cover;
  border-radius: 12px;
    box-shadow: 0 15px 35px rgba(198, 167, 94, 0.3);
}
.div-main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.div-main p{
	font-size: 20px;
	text-align: center;
	padding: 20px;
}
.nav-button {
  display: inline-block;
  margin: 20px;
  color: #EBE1CD;
  border-radius: 10px;
  border: 2px solid #C6A75E;
  background-color: #2A2A2A;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background: linear-gradient(145deg, #C6A75E, #E6D6B4);
  color: #1a1a1a;
  box-shadow: 0 8px 20px rgba(198, 167, 94, 0.35);
}

.question-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	
}
.p-1{
	font-size: 24px;
}
.p-2{
	border-bottom: 1px solid;
	cursor: pointer;
	margin-top: -10px;
	 color: #BEAF96;
	 font-size: 20px;
	

}
.p-2:hover{
	  color: #ffdb94;
}

@media screen and (min-width:768px) {
	.home-main-div{
		display: flex;
		flex-direction: row-reverse;
		padding: 20px;

	}
	
.div-image {
  
  gap: 20px;
  
  
}
.nav-button{
	font-size: 16px;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 30px;
}
	.div-main p {
  font-size: 18px;
  width: 250px;
  position: relative;
  text-align: center;
  padding-top: 20px;
}

.div-main p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;             
  height: 2px;
  background-color: #C6A75E;
}
.div-main {
  position: relative;
  padding-bottom: 20px; 
}

.div-main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;             
  height: 2px;
  background-color: #C6A75E;
}

}

@media screen and (min-width:1020px){
.div-main p{
		
		width: 400px;
		
	}
	.nav-button{
	font-size: 18px;
}
	.div-main p{
		font-size: 28px;
		width: 400px;
		
	}
	h1{
	font-size: 50px;
}
h2{
	font-size: 40px;
}


}
@media screen and (max-width:500px){
	.nav-button{
		margin: 0;
		margin-bottom: 10px;
		font-size: 14px;
	}
	.div-main p{
		font-size: 16px;
	}
	.p-1{
		font-size: 16px;
	}
	.p-2{
	font-size: 14px;
}
}

