html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background:
    radial-gradient(
      circle at 110% 10%,
      rgba(255, 236, 200, 0.35),
      rgba(255, 228, 180, 0.18) 30%,
      rgba(255, 220, 170, 0.08) 50%,
      transparent 70%
    ),

    linear-gradient(
      180deg,
      #0c0c0c 0%,
      #161616 50%,
      #0b0b0b 100%
    );

  background-attachment: fixed;
  color: #f5e6c8;
}
